.resumo {   
    margin-top: 3em;
    margin-bottom: 10em;
    width: 25em;
    min-width: 25em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1em
}

.buttons button {
    border: none;
    padding: 1em 3em;
    font-weight: bold;
}

.btn_cancelar {
    background-color: #d1d1d1;
}

.btn_cancelar:hover {
    background-color: #aaaaaa;
}

.btn_reservar {
    background-color: #ffbb33;
}

.btn_reservar:hover {
    background-color: #b48525;
}